@import url(styles/principal.css);
@import url(styles/carrossel.css);
@import url(styles/cabeçalho.css);
@import url(styles/fromcontato.css);
@import url(styles/footer.css);
body {
    font-family: arial, snas-serif;
    display: block;
    justify-content: center;
    height: 100vh;
    margin: 0;
}